# 重新配置一些下载失败的源
# vim ~/.yarnrc

registry "https://registry.npm.taobao.org"
lastUpdateCheck 1569074040099

sass_binary_site "http://cdn.npm.taobao.org/dist/node-sass"
chromedriver_cdnurl "https://npm.taobao.org/mirrors/chromedriver"
phantomjs_cdnurl "https://cdn.npm.taobao.org/dist/phantomjs"
fse_binary_host_mirror "https://npm.taobao.org/mirrors/fsevents"
puppeteer_download_host "https://npm.taobao.org/mirrors"
